.icon-select {
    position: absolute;
    left: 27.5vw;
    top: 13.5vh;
    width: 45vw;
    height: 73vh;
    background-color: #222020;
    font-size: 27px;
    min-width: 500px;
    /* padding-bottom: 2vh; */
    border-radius: 5px;
    color: #ece8e8;
}

@media only screen and (max-width: 1111.11px) {
    .icon-select {
      left: calc(50vw - 250px);
      top: 25vh;
      height: 50vh;
    }
  }

.icon-select ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.icon-select .gender-select li{
    text-align: center;
    margin-top: 0;
    padding: 7px 0 9px;
}

.x {
    font-size: 24px;
    padding: 6px 8px 0 6px;
    cursor: pointer;
}

.icons-visible {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    font-size: 48%;
    text-align: center;
}

.icons-invisible {
    display: none;
}

.single-icon {
    flex: 1 0 21%;
    height: 40px;
    background-color: #222020;
    cursor: pointer;
}

.icon-description {
    background-color: #222020;
    padding: 1vh 0;
    
}

.selected {
    background-color: #ece8e8;
    border-radius: 3px;
    color: #58A4B0;
}

.single-icon:hover {
    opacity: 85%;
}

.gender-select {
    display: flex;
    margin-bottom: 2vh;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    border-bottom: 0.9px #918D8D solid;
}

.sidebar .icon-select li {
    border-bottom: none;
    
}