.behaviour-mapping{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    height: 100%;

}

.ol-zoom {
    left: 500px;
    width: 50px;
    object-position: 15px;
}

.ol-attribution {
    size: 2px;
    right: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.ol-attribution > text {
    font-size: 10px;
}

.sidebar {
    display: flex;
    width: 200px;
    order: 1;
    background-color: rgb(34, 34, 34);
    color: rgb(201, 185, 156);
    height: 100%;
}
.sidebar ul {
    list-style-type: none;
    width: 100%;
    order: 2;
    
}

.sidebar li{
    padding: 5px;
    width: 100%;
    border-bottom: 2px rgb(65, 65, 65) solid;
    transition: 200ms;
}

.map{   
    display: flex;
    width: 100%;
    height: 100vh;
    order: 2;
}

/*ModImg*/

#maincont {
    display: flex;
}

.icon {
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    top:-100px; 
    left:-100px;
}