.behaviour-mapping{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    height: 100%;

}

.ol-attribution {
    size: 2px;
    right: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.sidebar {
    display: flex;
    width: 20vw;
    order: 1;
    background-color: rgb(34, 34, 34);
    color: rgb(201, 185, 156);
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    order: 2;
    
}

.sidebar li{
    height: 30px;
    width: 100%;
    border-bottom: 2px rgb(65, 65, 65) solid;
    transition: 200ms;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.buttonLi{
    color: aliceblue;
    background-color: rgba(22, 20, 20, 0.966);
    border-bottom: 2px rgb(65, 65, 65) solid;
}

#iconList {
    width: 200px;
}

.map{   
    display: flex;
    width: 100%;
    height: 100vh;
    order: 2;
}

/*ModImg*/

#maincont {
    display: flex;
}
.map-image {
    height: 100vh;
    width: 800vw;
    order: 3;
}

.icon {
    color: white;
    position:absolute;
    width: 50px;
    height: 50px;
    top:-100px; 
    left:-100px;
}

.visible {
    order: 1;
}

.background-image {
    order: 2;
}

.exit-icon-select {
    height: 100%;
    width: 50%;
    color: aliceblue;
    font-size: 20px;
    background-color: crimson;
}