.choose-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
#choose-image-map {
    height: 100vh;
    width: calc(100vw - 210px);
    order: 2;
}
.choose-image-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 210px;
    height: 100vh;
    background-color: #292828;
    color: #ece8e8;
    order: 1;
}
/* .choose-image-sidebar .close-icon {
    font-size: 4vh;
    position: absolute;
    right: 6vw;
    top: 6vh;
    color: #ece8e8;
} */

.sidebar-text {
    margin: 14px;
    font-size: 1em;
}

/* BUTTONS */

.choose-image-button {
    background-color: #F3F7F0;
    padding: 1vh 2vh;
    margin: 2vh 0 0 0;
    border: 1.2px solid #19323C;
    color: #19323C;
    border-radius: 25px;
    opacity: 0.85; 
    font-size: 25px;
    cursor: pointer;
}
.ol-zoom-in, .ol-zoom-out  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 6vw;
    font-size: calc((6vh + 6vw)/2);
    background: transparent;
    border: none;
}
