#load-project {
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin-top: 12vh;
    background-color: #292828;
    color: #ece8e8;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #161616;
}
#container {
    min-width: 300px;
    min-height: 300px;
    /*background-color: #58A4B0;*/
}
#opplastetKart {
    z-index: 2;
}
.icon {
    color: #ece8e8;
    position:absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}
#load-project h1, #load-project p, #load-project img{
    color: #ece8e8;
    padding: 1vh;
}
.projectName {
    font-size: 3vh;
}
#load-project button {
    background-color: #F3F7F0;
    padding: 1vh 2vh;
    margin: 7.5px;
    border: 1.2px solid #19323C;
    color: #19323C;
    border-radius: 25px;
    font-size: 3vh;
    opacity: 0.85; 
    cursor: pointer;
}
.show-project-list img {
    width: 100%;
    height: 80%;
}
#load-project .close-icon { 
    right: 10.7vw;
}
.sidebarLP {
    display: flex;
    width: 25%;
    order: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
}
.sidebarLP ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}
.sidebarLP li{
    padding: 1.5vh;
    border-bottom: 2px #58A4B0 solid;
}
.sidebarLP li:hover{
    background-color: rgb(52, 52, 66);
}
.hide-project-list {
    display: none;
}
.show-project-list {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LOADPROJECT 2*/

.buttonLi{
    margin-top: 0px;
    color: #ece8e8;
    background-color: #222020;
    border-bottom: 2px #58A4B0 solid;
    min-width: 200px;
}

#iconList {
    width: 200px;
}
