.manage-project {
    display: flex;
    align-items: center;
    justify-content: center;
}
.manage-project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 600px;
    margin-top: 8vh;
    background-color: #292828;
    color: #ece8e8;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #161616;
}

#opplastetKart {
    height: 340px;
    width: auto;
    max-width: 530px;
    padding: 38px 0;
}

.icon {
    color: #ece8e8;
    position:absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}
.manage-project h1, .manage-project p, .manage-project img{
    color: #ece8e8;
    padding: 4px;
}
.manage-project h1 {
    font-size: 34px;
    padding-top: 36px;  
    max-width: 82%;  
}

/* .projectName {
    font-size: 3vh;
} */
.manage-project button {
    background-color: #F3F7F0;
    padding: 1vh 2vh;
    margin: 7.5px;
    border: 1.2px solid #19323C;
    color: #19323C;
    border-radius: 25px;
    font-size: 3vh;
    opacity: 0.85; 
    cursor: pointer;
}
.show-project-list img {
    width: 100%;
    height: 80%;
}
.manage-project .close-icon { 
    top: 9vh;
    left: calc(50vw + 362px)
}
.sidebarLP {
    display: flex;
    width: 25%;
    order: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
    overflow: auto;
}
.sidebarLP ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}
.sidebarLP li{
    padding: 1.5vh;
    border-bottom: 2px #58A4B0 solid;
    cursor: pointer;
}
.sidebarLP li:hover{
    background-color: rgb(52, 52, 66);
}
.hide-project-list {
    display: none;
}
.show-project-list {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonLi{
    margin-top: 0px;
    color: #ece8e8;
    background-color: #222020;
    border-bottom: 2px #58A4B0 solid;
    min-width: 200px;
}

#iconList {
    width: 200px;
}

.manage-project .manage-button {
    font-size: 16px;
    padding: 9px;
}

.projectName {
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .manage-project-box, .manage-project {width: 100vw;}
    .new-project h2 {font-size: 10vw;}
    .manage-project .close-icon {left: 95vw;}
    .manage-project .manage-button {
        font-size: 2vw;
    }
    #opplastetKart {height: 48vh;}
  }