/* @media only screen and (max-width: 600px) {
    .new-project-box h2 {
        font-size: 4.5vh;
    }
  } */

  /* @media only screen and (min-width: 1200px) {
    #new-project .close-icon {
        left: calc(228px + 50vw);
    }
  } */

.new-project {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.new-project-box, .new-project-box-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    /* max-width: 540px; */
    height: 500px;
    margin-top: 80px;
    background-color: #222020;
    color: #ece8e8;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #222020;
}

/* @media only screen and (max-width: 525px) {
    .new-project-box, .new-project-box-upload {
        width: 100vw;
    }
    .new-project h2 {
        font-size: 2vw;
    }
    .loading{
        height: 90px;
        position: absolute;
        left: calc(110px + 50vw);
        top: 590px;
    }
} */


.loading{
    height: 30px;
    position: absolute;
    left: calc(110px + 50vw);
    top: 590px;
}


.close-icon {
    font-size: 30px;
    position: absolute;
    left: calc(235px + 50vw);
    top: 87px;
    color: #ece8e8;
}

.new-project-box-upload {
    height: 570px;
}

 #heading-and-form {
     width: 80%;
 }

.new-project h2 {
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
    color: #58A4B0;
}



.new-project form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px 0;
    text-align: left;
}

/* FORM */
#project-name, #description {
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: #ece8e8;
    margin: 5px 0;
}

input, textarea {
    background-color: #ece8e8;
      border: 1px solid #CCCCCC;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      color: #222020;
  }
  
  input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
      box-shadow: 0 1px 1px #58A4B0 inset, 0 0 8px #58A4B0;
      outline: 0 none;
  }

#project-name {
    height: 30px;
    
}

#description {
    height: 210px;
    resize: none;
}

/* BUTTON */

.new-project li {
    /* background-color: #FDFFFC; */
    list-style: none;
    padding: 8px 15px;
    margin: 7.5px;
    /* border: 1.2px solid #EF2E3B; */
    color: #222020;
    border-radius: 25px;
    opacity: 0.85; 
    font-size: 32px;
    text-align: center; 
    cursor: pointer;
}

.new-project #choose-name {
    display: block;
}

.new-project #start {
    display: block;
}

#start_startButton {
    display: block;
}

/* FILE BUTTONS */

.new-project .hide-file-management {
    display: none;
}

.file-button {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    padding: 4px, 9px;
    margin-bottom: 12px;
}

.upload-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 7px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 4px 4px 8px #222020;
}



@media screen and (max-width: 525px) {
    .new-project-box, .new-project-box-upload {width: 100vw;}
    .new-project h2 {font-size: 10vw;}
    .close-icon {left: 5px;}
  }