#new-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 72vh;
    margin-top: 10vh;
    background-color: #0c1115;
    color: #F3F3F3;
}
 #heading-and-form {
     width: 80%;
 }

.close-icon {
     font-size: 4vh;
     position: absolute;
     left: 30.5vw;
     top: 11vh;
     color: white;
 }

#close-startpage {
    position: absolute;
    font-size: 4vh;
    color: #ecaf44;
    top: 11vh;
    left: 10.8vw;
}

#new-project-box h2 {
    text-align: center;
    font-size: 7.5vh;
    padding-bottom: 3vh;
}

#new-project-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    margin-bottom: 3vh;
    text-align: left;
}

/* FORM */
#project-name, #description {
    width: 100%;
    font-size: 2.5vh;
    border: none;
    background-color: #F3F7F0;
    margin: 0.7vh 0;
}

#project-name {
    height: 4vh;
    
}

#description {
    height: 25vh;
    resize: none;
}

/* legend {
    width: 100%;
    text-align: left;
} */

/* BUTTON */

#new-project-box li {
    background-color: #F3F7F0;
    list-style: none;
    padding: 1vh 2vh;
    margin: 7.5px;
    border: 1.2px solid #19323C;
    color: #19323C;
    border-radius: 25px;
    opacity: 0.85; 
    font-size: 4.5vh;
    text-align: center; 
    user-select: none;
    /* margin-top: 3vh; */
}

/* #new-project-box #cancel {
    position: absolute;
    left: 20vh;
} */
